.title, .altTitle {
  margin-bottom: 25px;
}

.altTitle {
  display: none;
  font-size: 44px;
}

.subtitle {
  font-size: 24px;
}

.container {
  overflow: hidden;
}

.formContainer {
  float: left;
  width: 50%;
}

.mapContainer {
  float: right;
  width: 50%;
  text-align: right;
  line-height: 1.4
}

.mapContainer a {
  display: block;
  margin: 15px 0
}

.contact {
  margin-bottom: 25px;
}

@media (max-width: 960px ) { /* the width of the title image */
  .title img {
    display: none;
  }

  .altTitle {
    display: block;
  }

  .formContainer {
    float: none;
    width: 100%;
  }

  .mapContainer {
    float: none;
    width: 100%;
    text-align: left;
  }
}