body {
	background :#cdd4ff;
	font-family: Helvetica, Arial, sans-serif;
	color: #333540;
	font-size: small;
}

.container {
	width: 960px;
	margin: 0 auto;
}

@media (max-width: 960px) {
	.container {
		width: 95%;
		margin: auto;
	}
}

a {
	color: #666a7f;
	font-weight:bold;
	text-decoration: none;
}

a:hover { color: #9aa0bf; }

main {
	margin: 25px 0 50px;
}