.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px auto !important;
}

.title {

}

.nav {

}

.logo {
  display: block;
  background: url(../../images/logo.png) no-repeat;
  text-indent: -9999px;
  height: 100px;
  width: 453px;
}

@media (max-width: 800px) {
  .header {
    display: block;
  }

  .title {
    margin-bottom: 25px;
  }
}

@media (max-width: 453px) {
  .logo {
    width: 100%;
    background-size: contain;
  }
}