.header {
  overflow: hidden;
}

.title {
  float: left;
  margin-top:25px;
}

.nav {
  float: right;
  margin-top: 60px;
}

.logo {
  display: block;
  background: url(../../images/logo.png) no-repeat;
  text-indent: -9999px;
  height: 100px;
  width: 453px;
}