.title, .altTitle {
  margin-bottom: 25px;
}

.altTitle {
  display: none;
  font-size: 44px;
}

.item {
  margin-bottom: 25px;
}

.item a {
  font-size: 18px;
}

@media (max-width: 960px ) { /* the width of the title image */
  .title img {
    display: none;
  }

  .altTitle {
    display: block;
  }
}